@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font: 14px/1.5, "Montserrat", Verdana, sans-serif;
}

body, input, textarea, table {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}